<div [formGroup]="categoriaForm">
  <div formArrayName="arrayCaixas" class="variacoes">
    <div *ngFor="let item of variacoes.controls; let i = index" [formGroupName]="i" class="caixa">
      <h2>Caixa {{ i + 1 }}</h2>

      <div formArrayName="arquivos" class="form-array">
        <div *ngFor="let arquivo of getArquivosControls(i).controls; let j = index" class="file-row">
          <input
            type="file"
            [formControlName]="j"
            (change)="onFileSelected($event, i, j)"
          >
          <button type="button" (click)="removerArquivo(i, j)">Remover</button>
        </div>
      </div>

      <div class="btn-add-remove-file">

        <button type="button" (click)="addFileInput(i)">Adicionar Novo Arquivo</button>
        <button type="button" (click)="removeCaixa(i)">Remover Caixa</button>
      </div>
    </div>
  </div>

  <div class="btn-add-caixas">
    <button type="button" (click)="addCaixa()">Adicionar Nova Caixa</button>
    <!-- Botão único de upload -->
    <button type="button" (click)="uploadAllFiles()">Enviar Todos os Arquivos</button>
  </div>
</div>
